<div class="container">
 <div class="row">
     <div class="col-md-4 m-auto">
        <div class="card mt-4" >
          
          <div class="card-body">
            <h4 class="card-title text-center">Login</h4>
           <form [formGroup]="loginform" (ngSubmit)="login()">
               <input type="text" class="form-control" formControlName="email" placeholder="Email">
               <br>
               <input type="password" class="form-control" formControlName="password" placeholder="Password">
               <br>
               <input type="submit" class="btn btn-primary" value="Submit">
           </form>
          </div>
        </div>
     </div>
 </div>

</div>